body {
  margin-top: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  margin: 0; }

.content {
  background-image: url(../img/shoe.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: white; }
  .content h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    text-shadow: 10px 10px 20px #40bcc0;
    transition: 2.4s; }
    .content h1:hover {
      margin-right: 63%; }
  .content > * {
    margin-right: 20px; }
  .content p {
    margin-top: 0;
    margin-bottom: 20px; }
  .content .bars {
    display: flex; }
    .content .bars span {
      background-color: black;
      color: white;
      border-radius: 3px; }
      .content .bars span:hover {
        color: #40bcc0; }
    .content .bars span:nth-of-type(1) {
      padding: 10px 50px; }
    .content .bars span:nth-of-type(2) {
      padding: 10px 15px;
      margin-left: 10px; }

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 200px; }
  footer ul {
    padding-left: 0; }
  footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .footer ul:last-child {
      display: flex;
      flex-basis: 400px;
      justify-content: flex-end;
      flex-wrap: wrap; }
      footer .footer ul:last-child li {
        margin-left: 20px; }
  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    footer ul:nth-child(4) {
      flex-direction: row; }
    footer ul li {
      list-style: none;
      margin: 0; }

.footer ul:not(:first-child) li:not(:first-child) {
  color: gray; }
.footer ul:last-child li {
  color: gray; }

hr {
  width: 100%; }

.footer, .footer2, hr {
  min-width: 469px; }

.footer2 {
  min-width: 460px;
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
  .footer2 ul {
    display: flex;
    flex-direction: row; }
    .footer2 ul li {
      margin-left: 5px; }
  .footer2 > *:not(:first-child), .footer2 div > *:not(:first-child) {
    color: gray; }

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E8E8;
  align-items: center; }
  .navbar ul {
    display: flex;
    padding: 0;
    margin: 0; }
    .navbar ul li {
      list-style: none;
      color: gray;
      padding: 5px; }
    .navbar ul li:nth-of-type(3) {
      padding: 5px 20px; }
  .navbar ul:nth-of-type(1) li {
    padding: 10px 25px;
    border-right: 1px solid #E5E8E8; }
    .navbar ul:nth-of-type(1) li:hover {
      background: linear-gradient(to top, #E5E8E8, white 50%); }

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .topbar ul {
    list-style: none;
    display: flex; }
    .topbar ul li {
      padding: 0px 20px;
      font-weight: bold; }
      .topbar ul li a:hover {
        border-bottom: 2px solid black; }
  .topbar input {
    margin-right: 15px; }
  .topbar img {
    max-width: 60px;
    margin-left: 15px; }

/*# sourceMappingURL=main.css.map */
