footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  ul {
    padding-left: 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul:last-child {
      display: flex;
      flex-basis: 400px;
      justify-content: flex-end;
      flex-wrap: wrap;
      li {
        margin-left: 20px;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(4) {
      flex-direction: row;
    }
    li {
      list-style: none;
      margin: 0;
    }
  }
}

.footer {
  ul:not(:first-child) {
    li:not(:first-child) {
      color: $navbar-color;
    }
  }
  ul:last-child {
    li {
      color: $navbar-color;
    }
  }
}

hr {
  width: 100%;
}

.footer, .footer2, hr {
  min-width: 469px;
}

.footer2 {
  min-width: 460px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: row;
    li {
      margin-left: 5px;
    }
  }
  & > *:not(:first-child), div > *:not(:first-child) {
    color: $navbar-color;
  }
}
