
ul {
  display: flex;
  flex-basis: 500px;
  // background-color: red;
  justify-content: space-between;
  li {
    color: white;
    list-style: none;
    align-self: center;
  }
}

.register {
  background-color: $color-red;
  border-radius: 20px;
  padding: 10px;
  width: 55px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  // @media (max-width: 839px) {
  //
  // }
}
