.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-grey;
  align-items: center;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      color: $navbar-color;
      padding: 5px;
    }
    li:nth-of-type(3) {
      padding: 5px 20px;
    }
  }
  ul:nth-of-type(1) {
    li {
      padding: 10px 25px;
      border-right: 1px solid $color-grey;
      &:hover {
        background: linear-gradient(to top, $color-grey, white 50%);
      }
    }
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    li {
      padding: 0px 20px;
      font-weight: bold;
      a:hover {
        border-bottom: 2px solid black;
      }
    }
  }
  input {
    margin-right: 15px;
  }
  img {
    max-width: 60px;
    margin-left: 15px;
  }
}
